* {
    box-sizing: border-box;
    font-family: helvetica;
}

#app {
    padding: 10px;
    background: orange;
    max-width: 600px;
    margin: 20px auto;
}

.add-todo-form {
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-list {
    margin: 0;
    padding: 0;
}

.todo-item {
    list-style-type: none;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    margin: 5px auto;
}

.todoText {
    cursor: pointer;
}

.completedTodo {
    text-decoration: line-through;
}
